{% extends "ems1/layout.html" %}
{% load static %}
{% block body %}
<link rel="stylesheet" href="{%  static 'ems1/Signup.css' %}">
<div id="main" style="overflow-x:auto;">
    <div id="form2" >
        <form action="{% url 'Signin' %}" method="POST">

            {% csrf_token %}
            <div id="input">
            <br><br><label for="">First_Name</label>
            <input type="text" placeholder="first_name " name="first_name">
            <br><br><label for="">last_Name</label>
            <input type="text" placeholder="last_name" name="last_name">
            <br><br><label for="">Date_Joined</label>
            <input type="text" placeholder="YY-MM_DD" name="date_joined">
            <br><br><label for="">Email</label>
            <input type="text" placeholder="email" name="email">
            <br><br><label for="">User_Name</label>
            <input type="text" placeholder="username"required name="username">
            <br><br><label for="">Password</label>
            <input type="text" placeholder="password"required name="password"><br>
            <button type="submit"  onclick="return submit('You are registered');">Signin</button>
        </div>
            </form>
    </div>
</div>
</div>
<script>
    function submit(message){
        alert(message);
    }
</script>
{% endblock %}
